include components/article/article
include components/block-standart-buttons/block-standart-buttons
include components/block-standart-buttons-left/block-standart-buttons-left
include components/block-standart-buttons-right/block-standart-buttons-right
include components/buttons/buttons
include components/block-arrow-buttons/block-arrow-buttons
include components/position-arrow-buttons/position-arrow-buttons
include components/arrow-buttons/arrow-buttons
include components/percentages/percentages
include components/pie-chart/pie-chart
include components/sliders/sliders
include components/color-sliders/color-sliders
include components/stages/stages
include components/form/form
include components/toggles/toggles
include components/tick-boxes/tick-boxes

doctype html

html

    include components/head/head

    body

        main.main

            +article( 'standart buttons' )
                +block-standart-buttons()
                    +block-standart-buttons-left()
                        +button( {buttonText: 'button', buttonColor: 'turquoise', buttonSize: 'small'} )&attributes( {'data-button': 'active'} )
                        +button( {buttonText: 'button', buttonColor: 'turquoise'} )&attributes( {'data-button': 'active'} )
                    +block-standart-buttons-right()
                        +button( {buttonText: 'button', buttonColor: 'orange'} )&attributes( {'data-button': 'active'} )
                        +button( {buttonText: 'button', buttonColor: 'orange', buttonSize: 'small'} )&attributes( {'data-button': 'active'} )
                    +block-standart-buttons-left()
                        +button( {buttonText: 'button', buttonColor: 'turquoise', buttonSize: 'small'} )&attributes( {'data-button': 'hover'} )
                        +button( {buttonText: 'button', buttonColor: 'turquoise'} )&attributes( {'data-button': 'hover'} )
                    +block-standart-buttons-right()
                        +button( {buttonText: 'button', buttonColor: 'orange'} )&attributes( {'data-button': 'hover'} )
                        +button( {buttonText: 'button', buttonColor: 'orange', buttonSize: 'small'} )&attributes( {'data-button': 'hover'} )
                    +block-standart-buttons-left()
                        +button( {buttonText: 'button', buttonColor: 'turquoise', buttonSize: 'small'} )
                        +button( {buttonText: 'button', buttonColor: 'turquoise'} )
                    +block-standart-buttons-right()
                        +button( {buttonText: 'button', buttonColor: 'orange'} )
                        +button( {buttonText: 'button', buttonColor: 'orange', buttonSize: 'small'} )

            +article( 'arrow buttons' )
                +block-arrow-buttons()
                    +position-arrow-buttons()
                        +arrow-button( '#', 'next' )
                        +arrow-button( '#', 'prev' )
                    +position-arrow-buttons()
                        +arrow-button( '#', 'next', 'disabled' )
                        +arrow-button( '#', 'prev', 'disabled' )
                    +position-arrow-buttons()
                        +arrow-button( '#', 'next' )
                        +arrow-button( '#', 'prev' )

            +article( 'percentages / pie chart' )
                +block-arrow-buttons()
                    +percentage( '33' )
                    +percentage( '71' )
                    +percentage( '64' )
                    +pie-chart(['10', '33', '15'])

            +article( 'sliders' )
                +block-arrow-buttons()
                    +sliders()
                    +color-slider

            +article( 'stages' )
                +block-arrow-buttons()
                    +stage('3')

            +article( 'form elements' )
                +block-arrow-buttons()
                    +form()
                +article( 'toggles' )
                    +block-arrow-buttons()
                        +toggle()
                +article( 'ticket boxes' )
                    +block-arrow-buttons()
                        +tick-boxes()

