.drop-down
  display block
  position relative
  width 19em
  background-color #e5e5e5
  color #9f9f9f
  border-radius 3px

  &__btn
    outline none
    cursor pointer
    overflow hidden
    box-sizing border-box
    text-transform uppercase
    background-color transparent
    border none
    font-size 14pt
    padding .2em .5em
    display inline-block
    color inherit

  &__caret
    width 10%
    height 100%
    display inline-block
    background #4eb7a8
    color #fff
    opacity 1
    float right
    border-radius 0 3px 3px 0
    position relative

    &:after
      content ""
      width 8px
      height 8px
      position absolute
      top 9px
      left 10px
      border-left 3px solid #fff
      border-bottom 3px solid #fff
      background transparent
      transform rotate(-45deg)

  &__content
    border-radius 3px
    background #4eb7a8
    color #ffffff
    position: absolute
    top 90%
    left 0
    z-index 1000
    display none
    float left
    width 100%
    padding 5px 0
    margin 2px 0 0
    text-align left
    list-style none
    font-size 14pt

  &:hover .drop-down__content
    display block