@import '../components/*'
@import "fonts.css"

*
  margin 0
  padding 0

body
  font-family LatoBlack, Helvetica, Arial, "sans-serif"
  background-color #FEF0D7

main
  margin-top 80px
  width 60%
  margin-left  auto
  margin-right auto
  background-color #FFFCDB