mixin stage(value)
    -var numberStages = '5'
    .stage
        -for ( var i = 1; i <= numberStages; i++ ) {

            span.stage__value( class = ( i == value ? "stage__value-active" : "" ) )= i

        -}