.short-news
  .Shape_1_copy_27 {
    border-radius: 3px;
    background-color: rgb(231, 87, 53);
    position: absolute;
    left: 53px;
    top: 1719px;
    width: 288px;
    height: 212px;
    z-index: 350;
  }
