//Добавляет окружность заполнуннуюю на переданное количество

mixin percentage(percent)

    .percentage
        span.percentage__text= percent
        .percentage__slice
            .percentage__slice-bar
            .percentage__slice-fill