.arrow-button
  width 45px
  height 45px
  display inline-block
  border-radius 50%
  border 3px solid #4eb7a8
  margin-left 16px
  margin-right 8px

  &:hover
    background-color #4eb7a8

  &[data-role="disabled"]
    background-color #F3E2C4
    border-color #F3E2C4

  &__prev
    display block
    border-right 3px solid #4eb7a8
    border-bottom 3px solid #4eb7a8
    transform: rotate(-45deg)
    width 15px
    height 15px
    margin 14px 9px

  &:hover > &__prev
  &[data-role="disabled"] > &__prev
    border-right-color #ffffff
    border-bottom-color #ffffff

  &__next
    display block
    border-left 3px solid #4eb7a8
    border-bottom 3px solid #4eb7a8
    transform rotate(45deg)
    width 15px
    height 15px
    margin 14px 18px

  &:hover > &__next
  &[data-role="disabled"] > &__next
    border-left-color #ffffff
    border-bottom-color #ffffff