// Компонент кнопки. Принимает значене:
//options.buttonText - заголовок кнопки;
//options.buttonColor - цвет кнопки (orange or turquoise)
//options.buttonSize - размер кнопки (big or small)
//Значения передаются объектом, например +button( {buttonText: 'button', buttonColor: 'turquoise', buttonSize: 'small'} )

mixin button(options)

    -options.buttonText= options.buttonText || 'Button'
    -options.buttonColor= options.buttonColor || 'orange'
    -options.buttonSize= options.buttonSize || 'big'

    button.button( class= 'button-' + options.buttonColor + ' ' + 'button-' + options.buttonSize )&attributes( attributes )= options.buttonText