mixin button(options)

    -options.buttonText= options.buttonText || 'Button'
    -options.buttonColor= options.buttonColor || 'orange'
    -options.buttonSize= options.buttonSize || 'big'

    button.button( class= 'button-' + options.buttonColor + ' ' + 'button-' + options.buttonSize )&attributes( attributes )= options.buttonText