.button
  position relative
  border none
  outline none
  cursor pointer
  color white
  overflow hidden
  box-sizing border-box
  text-transform uppercase

  &-orange
    background-color #e75735
    box-shadow 0px 5px 7px 0px rgba(187, 64, 28, 1)

  &-turquoise
    background-color #4eb7a8
    box-shadow 0px 5px 7px 0px rgba(86, 160, 122, 1)

  &-small
    padding 5px 16px
    margin-right 16px
    vertical-align bottom
    font-size 0.7em
    margin-left 6px
    border-radius 3px

  &-big
    margin-left 3px
    margin-right 20px
    padding 7px 32px
    border-radius 3px
    font-size 0.76em