.button-ripple
  position relative
  border none
  outline none
  cursor pointer
  color white
  overflow hidden

  text-transform uppercase

  &-orange
    background-color #e75735

  &-turquoise
    background-color #4eb7a8

  &-small
    padding 3px 16px
    margin-right 18px
    vertical-align bottom
    font-size 0.7em
    margin-left 5px
    border-radius 3px

  &-big
    margin-left 5px
    margin-right 19px
    padding 7px 32px
    border-radius 3px
    font-size 0.76em

  &__effect
    display block
    position absolute
    background rgba(255, 255, 255, 0.3)
    border-radius 100%
    transform scale(0)

  &__animate
    animation ripple 0.65s linear

@keyframes ripple
  100% {opacity: 0; transform: scale(2.5);}
