.search
  display block
  width 15em
  position relative
  background-color #e75735
  font-size 20px
  border-radius 3px

  &:after
    content "\2315"
    font-size 33px
    line-height 1
    position absolute
    transform rotate(-90deg)
    right 10px
    color #ffffff

  &__enter
    width 85%
    height 100%
    display inline-block
    background-color #e5e5e5
    color #888888
    position relative
    border-radius 3px
    border none
    font-size inherit
    padding .2em 1em

    &:focus
      background-color #e75735
      color #fff
      border none

