mixin button-white(options)

    -options.buttonText= options.buttonText || 'Button'
    -options.buttonColor= options.buttonColor || 'orange'
    -options.buttonSize= options.buttonSize || 'big'

    button.button-white( class= 'button-white-' + options.buttonColor + ' ' + 'button-white-' + options.buttonSize )= options.buttonText