.button-white
  position relative
  border none
  outline none
  cursor pointer
  color white
  overflow hidden
  box-sizing border-box
  text-transform uppercase

  &-orange
    background-color transparent
    box-shadow 0px 5px 7px 0px rgba(187, 64, 28, 1)
    color #e75735
    border 1px solid #e75735

  &-turquoise
    background-color transparent
    box-shadow 0px 5px 7px 0px rgba(86, 160, 122, 1)
    color #4eb7a8
    border 1px solid #4eb7a8

  &-small
    padding 1px 15px
    margin-right 19px
    vertical-align bottom
    font-size 0.7em
    margin-left 6px
    border-radius 3px

  &-big
    margin-left 4px
    margin-right 20px
    padding 7px 31px
    border-radius 3px
    font-size 0.76em